/* Add CSS Styling */
.odd {
    background-color: rgb(214, 16, 92);
    font-family:'Verdana', 'DejaVu Sans', 'sans-serif';

}
#num2{
    color: rgb(34, 103, 231);
    font-size: 36px;
}
.pixels{
    font-size: 24px;
}
#num4{
    background-color: rgb(92, 214, 98);
    font-weight: bold;
}